[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
advent-of-code-data = "*"
everybody-codes-data = "*"
browser-cookie3 = "*"
tqdm = "*"
numpy = "*"
scipy = "*"
shapely = "*"

[dev-packages]
pylint = "*"

[requires]
